<style>
    div.cell{
        width:820px;
        margin-left:10% !important;
        margin-right:auto;
    }
    h1{
        font-family: Helvetica Neue Light, sans-serif;
    }
    h2{
        font-family: Helvetica Neue Light, sans-serif;
    }
    h3{
	font-family: Helvetica Neue Light, sans-serif;
        margin-top:12px;
        margin-bottom: 3px;
    }
    h4{
	font-family: Helvetica Neue Light, sans-serif;
    }
    h5{
       font-family: Helvetica Neue Light, sans-serif;
    }
    div.text_cell_render{
        font-family: Helvetica Neue Light, sans-serif;
        line-height: 125%;
        font-size: 122%;
        width:660px;
        margin-left:auto;
        margin-right:auto;
    }
    .CodeMirror{
            font-family: Menlo;
			font-size: 103%;
    }
/*    .prompt{
        display: None;
    }*/
    .text_cell_render h1 {
        font-weight: 400;
        font-size: 30pt;
		line-height: 100%;
        color: #EC5D57;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        display: block;
    }
    .text_cell_render h2 {
        font-weight: 400;
        font-size: 20pt;
		line-height: 100%;
        color: #51A7F9;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        display: block;
    }
    .text_cell_render h3 {
        font-weight: 400;
        font-size: 20pt;
		line-height: 100%;
        color: #70BF41;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        display: block;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 16pt;
        color: #CD2305;
        font-style: italic;
        margin-bottom: .5em;
        margin-top: 0.5em;
        display: block;
    }

    .warning{
        color: rgb( 240, 20, 20 )
        }
</style>
<script>
    MathJax.Hub.Config({
                        TeX: {
                           extensions: ["AMSmath.js"]
                           },
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                },
                displayAlign: 'center', // Change this to 'center' to center equations.
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 4}}
                }
        });
</script>
